{% load wagtailimages_tags %}

<div class="carousel full-width">
  <div class="carousel-scroll-container" role="region" aria-label="Image carousel" tabindex="0">
    <ol class="carousel-media" role="list">
      {% for img in self.images %}
        <li class="carousel-item">
          <figure>
            {% image img original loading="lazy" decoding="async" %}
          </figure>
        </li>
      {% endfor %}
    </ol>
  </div>
</div>
